.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 98vh;
  background-color: var(--bg-primary);
}
.main-text {
  font-size: xx-large;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}
.btn {
  text-decoration: none;
  background-color: transparent;
  border: solid 1px var(--text-primary);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--text-primary);
  border-radius: var(--radius);
  color: var(--text-secondary);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}
