:root {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  --primary: #0f1b61;
  --secondary: #f1f5f8;
  --transition: background-color 0.5s ease-in;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 98vh;
  background-color: var(--secondary);
}
.main-text {
  font-size: xx-large;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}
.btn {
  text-decoration: none;
  background-color: transparent;
  border: solid 1px var(--primary);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  color: var(--primary);
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  transition: var(--transition);
}
.btn:hover {
  background-color: var(--primary);
  border-radius: var(--radius);
  color: var(--secondary);
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}