:root {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    --primary: #102A42;
    --secondary: #F1F5F8;
    --transition-speed: 600ms;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary);
}
.main-text {
    color: var(--primary);
    margin-bottom: 2rem;
    font-weight: bold;
    line-height: 5rem;
}
.btn {
    background-color: transparent;
    border: solid 1px var(--primary);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    color: var(--secondary);
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}
.btn:hover {
    background-color: var(--primary);
    border-radius: var(--radius);
    color: var(--secondary);
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
}