body {
  background-color: var(--bg-primary);
}
h1 {
  padding: 0.5rem;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  padding: 0.5rem;
}
nav {
  background-color: var(--bg-secondary);
  box-shadow: var(--dark-shadow);
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

/* Hamburger button */
button, button:focus {
  border: none;
  background: none;
  outline:none;
}
button span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text-primary);
}

#nav-links {
  visibility: hidden;
  transition: var(--transition);
  transform: translateX(-120%);
  opacity: 0;
  height: 0;
}
.links-social {
  display: none;
}

.active {
  visibility: visible !important;
  height: 10rem !important;
  opacity: 1 !important;
  transform: translateX(0%) !important;
  padding-left: 1rem;
}
#btn {
  transition: var(--transition);
}
.active-btn {
  transform: rotate(90deg);
  transition: var(--transition);
}

@media only screen and (min-width: 769px) {
  button {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #nav-links {
    visibility: visible;
    opacity: 1;
    display: flex;
    transform: none;
    height: auto;
  }
  .links-social {
    display: flex;
  }
}
